.root{
	-fx-background-image: url("../image/bestiary/map.jpg");
}
.button{
    -fx-padding: 8.0 15.0 15.0 15.0;
    -fx-background-insets: 0.0,0.0 0.0 5.0 0.0, 0.0 0.0 6.0 0.0, 0.0 0.0 7.0 0.0;
    -fx-background-radius: 8.0;
    -fx-background-color: 
        linear-gradient(from 0.0% 93.0% to 0.0% 100.0%, #a34313 0.0%, #903b12 100.0%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50.0% 50.0%, radius 100.0%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0.0,0.0,0.0,0.75) , 4.0,0.0,0.0,1.0 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
.button:hover {
    -fx-background-color: 
        linear-gradient(from 0.0% 93.0% to 0.0% 100.0%, #a34313 0.0%, #903b12 100.0%),
        radial-gradient(center 50.0% 50.0%, radius 100.0%, #ea7f4b, #c54e2c);
}
.button:pressed {
    -fx-padding: 10.0 15.0 13.0 15.0;
    -fx-background-insets: 2.0 0.0 0.0 0.0,2.0 0.0 3.0 0.0, 2.0 0.0 4.0 0.0, 2.0 0.0 5.0 0.0;
}
.button Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0.0,0.0,0.0,2.0 );
}

.text-area:focused .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused {
    -fx-highlight-fill: #7ecfff;
}

.text-area .content {
	
    -fx-background-color: transparent, #eccd6a, transparent, #eccd6a;
   	-fx-border-color: #FC9B06;
	-fx-border-radius: 100.0px;    
    -fx-border-width: 5.0;
    -fx-background-radius: 100.0px;
	-fx-font-family: "Arial";
   -fx-padding:25.0px, 50.0px,20.0px,50.0px;
}

.text-area {
    -fx-background-color: rgba(0.0,0.0,0.0,0.0);
 	-fx-wrap-text: true;
 	-fx-background-insets: 0.0;
    -fx-focus-color: transparent;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}

#datosBox, #decripcionBox, #derechaBox, #izquierdaBox{
	-fx-background-color:#663300;
}

#tituloLabel{
    -fx-background-color:radial-gradient(focus-distance 0% , center 50% 50% , radius 40% , #FF5252, #eccd6a);
    -fx-text-fill:#663300;
    -fx-font-size: 30.0px;
    -fx-font-family: "Comic Sans MS";
}

#notaLabel{
	-fx-border-color: brown ;
    -fx-border-width: 2.0px ; 
	-fx-border-radius: 2.0px;   
    -fx-border-style: segments(10.0, 15.0, 15.0, 15.0)  line-cap round ;
	-fx-text-fill:#663300; 
	-fx-background-color:#D38300; 
}

.label{
	
    -fx-font-size: 15.0px; 
	-fx-font-style:normal;
	-fx-text-fill:#FC9B06;
	-fx-padding:3.0px;
    -fx-font-family: "Comic Sans MS";
   	
}
